.pomodoro{
  background: rgba(255, 255, 255, 0.3);
  margin: 50px 20px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0, .3);
}

.pomodoro h4{
  font-size: 35px;
  text-align: center;
}

.pomodoro .controls{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
