:root{
  --working-color: #EF5D50;
  --rest-color: #41e1ba;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: sans-serif;
  background: var(--rest-color);
  transition: background-color 300ms ease-in-out;
  line-height: 1.5;
}

.container{
  max-width: 640px;
  margin: 0 auto;
}

.working{
  background-color: var(--working-color);
}

.hidden{
  display: none;
}

.working .pomodoro button{
  background-color: var(--working-color);
  color: #fff;
}

.pomodoro .details{
  margin: 20px 0;
}
